In [20]:
import pandas as pd

pymoli = 'Resources/purchase_data.csv'

data = pd.read_csv(pymoli)

In [104]:
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [49]:
total_players = data['SN'].value_counts()
players = total_players.count()
total_players = pd.DataFrame({"Total Players": [players]})
total_players

   Total Players
0            576

In [60]:
avg_price = data['Price'].mean()
purchase_count = data['Purchase ID'].count()
unique_items = data['Item Name'].value_counts()
count_unique_item = len(unique_items)
total_revenue = data['Price'].sum()
avg_price
count_unique_item
purchase_count
total_revenue
summary = pd.DataFrame({'Number of Unique Item': [count_unique_item], 
                       'Average Price': [avg_price], 'Number of Purchases': [purchase_count],
                       'Total Revenue': [total_revenue]})
summary

   Number of Unique Item  Average Price  Number of Purchases  Total Revenue
0                    179       3.050987                  780        2379.77

In [61]:
# Format
summary.style.format({'Average Price': '${:.2f}', 'Total Revenue': '${:.2f}'})

In [117]:
gender_df = data.copy()
male_df = gender_df.loc[gender_df['Gender']=='Male', :]
count_male = len(male_df['SN'].value_counts())
count_male
male_percentage = (count_male/players)*100
male_percentage

84.02777777777779

In [118]:
female_df = gender_df.loc[gender_df['Gender']=='Female', :]
count_female = len(female_df['SN'].value_counts())
count_female
female_percentage = (count_female/players)*100
female_percentage

14.0625

In [119]:
non_disclosed_df = gender_df.loc[gender_df["Gender"]=='Other / Non-Disclosed', :]
count_nondisclosed = len(non_disclosed_df['SN'].value_counts())
count_nondisclosed
percentage_nondisclosed = (count_nondisclosed/players)*100
percentage_nondisclosed

1.9097222222222223

In [133]:
# Formating
Gender = pd.DataFrame({'Total Count': [count_male, count_female, count_nondisclosed],
                      'Percentage of Players':[male_percentage, female_percentage,percentage_nondisclosed]}, 
                     index = ['Male', 'Female', 'Other / Non-Dislosed'])

Gender.style.format({'Percentage of Players': '{:.2f}%'})